       /* ================================
   Global  Variables
   ================================ */
   :root {
    --body-font-family: "Roboto", sans-serif;
    --footer-font-family: "merriweather", cursive;
    --header-font-family: "Griffy", system-ui;
    --thin-body-weight: 100;
    --semiBold-weight: 600;
    --regular-weight: 400;
    --medium-weight: 500;
    --header-font-weight: 400;
    --font-style: normal;
    --primary-color: #CDDFA0;
    --text-white-light-color: #F9F9F9;
    --highlight-color: #3185FC;
    --secondary-color: #2E2F2F;
    --body-secondry-color: #E2DCDE;
    --text-olivegray-color: #878E88;
   }
       
       
       /* Mobile styles */
    @media screen and (max-width: 650px) {
        .info-box{
            display: none;
        }
        .mobile-view{
            display: block;
        }
        .information{
            display: grid;
            grid-template-columns: 1fr;
            background: var(--body-secondry-color);
            text-align: center;
            width: 100%;
        }
        .data-info li,
.weather-info li {
list-style: none;
  text-decoration: none;
  line-height: 1.5;
  display: flex;
  gap: 2px;
}
 .data-info li strong,
 .weather-info li strong {
  min-width: 45%;
  text-align: right;
}
.data-info li strong::after,
.weather-info li strong::after {
  content: "";
}

.data-info li strong,
.weather-info li strong {
  margin-right: 5px;
}

.data-info{
    border-bottom: solid 2px var(--primary-color);
}

    /* Shared icon sizing */

.weather-icon {
  width: 1.2rem;
  height: 1.25rem;
  line-height: 1;
  /* font-size: 50px; */
}

/* Inline SVG inherits color via currentColor */
/* .weather-icon.inline { fill: currentColor; 
} */

/* External img behaves like an image */
/* .weather-icon.external { object-fit: contain;
 } */
}